@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../../styles/theme.css");

body {
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .no-focus {
    @apply ring-0 border-transparent focus:ring-offset-0 focus:ring-0 !important;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev, .swiper-button-next {
  background-color: #FFF;
  color: #ffcd05 !important;
  border-radius: 100%;
  padding: 1.5rem;
  width: 3rem;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  background-color: #ffeb3c !important;
  color: #FFF !important;
}

.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 1.2rem !important;
}
